/Cassandra*/**/bin
/Cassandra*/**/obj
*.suo
*.user
_ReSharper.*
ilmerge.log
/Assemblies/merged
/Assemblies/Cassandra.CassandraClient.*
/Assemblies/Cassandra.ClusterDeployment.*
/Assemblies/Cassandra.Tests.*