bin
obj
Debug
debug
[Dd]ebug
*.suo
desktop.ini
/Assemblies/Cassandra/Server/db
/Assemblies/Cassandra/Server/log
*.user
_ReSharper.*
/Assemblies/Cassandra.CassandraClient.*
/Assemblies/Cassandra.Tests.*
/Assemblies/Apache.Cassandra.1210.*
/Assemblies/Thrift.*
/Assemblies/Cassandra.ClusterDeployment.*