<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aquilesConfiguration" type="Aquiles.Configuration.AquilesConfigurationSection,Aquiles"/>
  </configSections>
  <aquilesConfiguration>
    <loggingManager>Tests.Logging.AquilesLogger,Tests</loggingManager>
    <clusters>
      <add friendlyName="TestCluster">
        <connection poolType="SIZECONTROLLEDPOOL" factoryType="FRAMED">
          <specialConnectionParameters>
            <add key="minimumClientsToKeepInPool" value="20" />
            <add key="maximumClientsToSupportInPool" value="1000" />
            <add key="magicNumber" value="7" />
          </specialConnectionParameters>
        </connection>
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <add address="127.0.0.1" port="9898"/>
          </cassandraEndpoints>
        </endpointManager>
      </add>
    </clusters>
  </aquilesConfiguration>
</configuration>
